<footer>
    <div class="footer-container">
        <div class="footer-wrapper">
            <span id="footer-find">find me in:</span>
        </div>
        <div class="footer-wrapper">
            <a href=""><span class="footer-icons">git</span></a>
        </div>
        <div class="footer-wrapper">
            <a href=""><span class="footer-icons">lin</span></a>
        </div>
        <div class="footer-wrapper">
            <a href=""><span class="footer-icons">Em</span></a>
        </div>
        <div class="footer-separetor">

        </div>
        <div class="footer-wrapper" id="footer-name">
            <span>@imnotannamaria</span>
        </div>
    </div>
</footer>