{% load static %}

<footer>
    <div class="footer-container">
        <div class="footer-wrapper">
            <span id="footer-find">find me in:</span>
        </div>
        <div class="footer-wrapper">
            <a class="footer-icons" href="https://github.com/imnotannamaria" target="_blank"><img id="width-icon" src="{% static 'portfolio/images/git.svg' %}" alt=""></a>
        </div>
        <div class="footer-wrapper">
            <a  class="footer-icons" href="https://www.linkedin.com/in/imnotannamaria/" target="_blank"><img id="width-icon" src="{% static 'portfolio/images/linkedin.svg' %}" alt=""></a>
        </div>
        <div class="footer-wrapper">
            <a class="footer-icons"  href="mailto:aannamariabr@outlook.com?subject=Hello%20again" target="_blank"><img id="width-icon" src="{% static 'portfolio/images/email.svg' %}" alt=""></a>
        </div>
        <div class="footer-separetor">

        </div>
        <div class="footer-wrapper" id="footer-name">
            <span>@imnotannamaria</span>
        </div>
    </div>
</footer>