<nav>
    <div class="hello-container">
        <h1>anna-maria</h1>

        <ul>
            <div class="hello-nav-wrapper" id="nav-hello">
                <a>_hello</a>
            </div>
            <div class="hello-nav-wrapper" id="nav-aboutme">
                <a>_about-me</a>
            </div>
            <div class="hello-nav-wrapper" id="nav-skills">
                <a>_skills</a>
            </div>
            <div class="hello-nav-wrapper" id="nav-contact">
                <a>_contact</a>
            </div>
        </ul>
    </div>
</nav>