<nav>
    <div class="hello-container">
        {% comment %} <h1><a id="logo" href="{% url 'portfolio:hello'%}">anna-maria</a></h1> {% endcomment %}
        <a href="{% url 'portfolio:hello'%}"><h1>anna-maria</h1></a>

        <ul>
            <a href="{% url 'portfolio:hello'%}">
                <div class="hello-nav-wrapper" id="nav-hello">
                    <span>_hello</span>
                </div>
            </a>
            <a href="{% url 'portfolio:about_me'%}">
                <div class="hello-nav-wrapper" id="nav-aboutme">
                    <span>_about-me</span>
                </div>
            </a>
            <a href="{% url 'portfolio:skills'%}">
                <div class="hello-nav-wrapper" id="nav-skills">
                    <span>_skills</span>
                </div>
            </a>
            <a href="{% url 'portfolio:experience'%}">
                <div class="hello-nav-wrapper" id="nav-xp">
                    <span>_experience</span>
                </div>
            </a>
            <a href="{% url 'portfolio:contact'%}">
                <div class="hello-nav-wrapper" id="nav-contact">
                    <span>_contact</span>
                </div>
            </a>
        </ul>
    </div>
</nav>