{% load static %}

{% include 'portfolio/partials/head.html' %}
<title>Anna Maria | _hello</title>
<link rel="stylesheet" href="{% static 'portfolio/css/global.css' %}">
<link rel="stylesheet" href="{% static 'portfolio/css/hello.css' %}">
</head> 

<body>
    {% include 'portfolio/partials/nav.html' %}

    <div class="hello-page-container">
        <div class="hello-page-container-one">
            <div class="hello-wrapper-one">
                <p>Hi all. I am</p>
                <h1>Anna Maria</h1>
                <h2>> Full Stack Developer</h2>
            </div>
            <div class="hello-wrapper-two">
                <div id="dev">
                    <span># dev.py</span> 
                </div>
                <br>
                <span><span id="blue-green">dev</span> = {</span>
                <br>
                <span>&nbsp&nbsp&nbsp&nbsp"<span id="yellow">name</span>": "<span id="yellow">Anna Maria</span>",</span>
                <br>
                <span>&nbsp&nbsp&nbsp&nbsp"<span id="yellow">age</span>": <span id="purple">20,</span></span>
                <br>
                <span>&nbsp&nbsp&nbsp&nbsp"<span id="yellow">formation</span>": "<span id="yellow">Information system (2022-Present)</span>",</span>
                <br>
                <span>}</span>
                <br>
                <br>
                <span><span id="purple">print</span>(<span id="blue-green">dev</span>)</span>
            </div>
        </div>
        <div class="hello-page-container-two">
            <img id="blur" src="{% static 'portfolio/images/header-blur.png' %}" alt="">
            <img id="me" src="{% static 'portfolio/images/me.png' %}" alt="">
        </div>
    </div>

    {% include 'portfolio/partials/footer.html' %}
</body>

</html> 